# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
db.sqlite3

# Local development
*.log

# Virtual environment
venv/
.venv/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo
node_modules/
node_modules/*

